In [1]:
# 导入并加载数据
import pandas as pd
df = pd.read_csv('store_data.csv')

In [17]:
# 探索数据
df.tail()

          week  storeA  storeB  storeC  storeD  storeE
195 2018-01-28     282    6351    7759    5558    1028
196 2018-02-04    4853    6503    4187    5956    1458
197 2018-02-11    9202    3677    4540    6186     243
198 2018-02-18    3512    7511    4151    5596    3501
199 2018-02-25    7560    6904    3569    5045    2585

In [27]:
# 上个月的销售额

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
week      200 non-null object
storeA    200 non-null int64
storeB    200 non-null int64
storeC    200 non-null int64
storeD    200 non-null int64
storeE    200 non-null int64
dtypes: int64(5), object(1)
memory usage: 9.5+ KB

In [6]:
df.week = pd.to_datetime(df.week)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
week      200 non-null datetime64[ns]
storeA    200 non-null int64
storeB    200 non-null int64
storeC    200 non-null int64
storeD    200 non-null int64
storeE    200 non-null int64
dtypes: datetime64[ns](1), int64(5)
memory usage: 9.5 KB

In [25]:
df.query('week >= 20180201')

          week  storeA  storeB  storeC  storeD  storeE
196 2018-02-04    4853    6503    4187    5956    1458
197 2018-02-11    9202    3677    4540    6186     243
198 2018-02-18    3512    7511    4151    5596    3501
199 2018-02-25    7560    6904    3569    5045    2585

In [26]:
df.query('week >= 20180201').sum()

storeA    25127
storeB    24595
storeC    16447
storeD    22783
storeE     7787
dtype: int64

In [ ]:
# 平均销售额

In [ ]:
# 2016 年 3 月 13 日所在的那一周的销售额

In [ ]:
# 过去 3 个月的销售额