## readfile

In [2]:
# import pd
import pandas as pd

In [3]:
# set file name
file_name = 'mini_sparkify_event_data'
file_type = '.json'

In [4]:
# read csv
#df = pd.read_csv(file)

In [5]:
# read json
df = pd.read_json(file_name+file_type,lines=True)

In [6]:
# check
display(df.shape)
display(df.describe())
display(df.info()) 
display(df.sample(1))

(286500, 18)

,ts,sessionId,status,itemInSession,registration,length
count,2.865000e+05,286500.000000,286500.000000,286500.000000,2.781540e+05,228108.000000
mean,1.540957e+12,1041.526555,210.054597,114.414213,1.535359e+12,249.117182
std,1.507544e+09,726.776263,31.505078,129.767262,3.291322e+09,99.235179
min,1.538352e+12,1.000000,200.000000,0.000000,1.521381e+12,0.783220
25%,1.539697e+12,336.000000,200.000000,27.000000,1.533522e+12,199.888530
50%,1.540932e+12,1013.000000,200.000000,70.000000,1.536664e+12,234.500770
75%,1.542266e+12,1675.000000,200.000000,156.250000,1.537672e+12,277.158730
max,1.543799e+12,2474.000000,404.000000,1321.000000,1.543247e+12,3024.665670

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286500 entries, 0 to 286499
Data columns (total 18 columns):
ts               286500 non-null int64
userId           286500 non-null object
sessionId        286500 non-null int64
page             286500 non-null object
auth             286500 non-null object
method           286500 non-null object
status           286500 non-null int64
level            286500 non-null object
itemInSession    286500 non-null int64
location         278154 non-null object
userAgent        278154 non-null object
lastName         278154 non-null object
firstName        278154 non-null object
registration     278154 non-null float64
gender           278154 non-null object
artist           228108 non-null object
song             228108 non-null object
length           228108 non-null float64
dtypes: float64(2), int64(4), object(12)
memory usage: 39.3+ MB

None

,ts,userId,sessionId,page,auth,method,status,level,itemInSession,location,userAgent,lastName,firstName,registration,gender,artist,song,length
170795,1542627635000,53,2003,NextSong,Logged In,PUT,200,paid,95,"Jackson, MS","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_2...",Wang,Sebastian,1.538050e+12,M,Eminem,Any Man,173.24363

## save pickle

In [38]:
# compress
file_output = file_name + '.pickle.xz'
df.to_pickle(file_output, compression='xz')

In [40]:
# compare size
! ls -al | grep *.json
! ls -al | grep *.csv
! ls -al | grep *.xz

-rw-r--r--@ 1 francis  staff  128477301 10 11 15:24 mini_sparkify_event_data.json
-rw-r--r--  1 francis  staff    5090688 10 14 11:12 mini_sparkify_event_data.pickle.xz

In [41]:
# check compressed file
dfcheck = pd.read_pickle(file_output, compression='xz')
display(dfcheck.shape)
display(dfcheck.describe())
display(dfcheck.info()) 
display(dfcheck.sample(1))

(286500, 18)

,ts,sessionId,status,itemInSession,registration,length
count,2.865000e+05,286500.000000,286500.000000,286500.000000,2.781540e+05,228108.000000
mean,1.540957e+12,1041.526555,210.054597,114.414213,1.535359e+12,249.117182
std,1.507544e+09,726.776263,31.505078,129.767262,3.291322e+09,99.235179
min,1.538352e+12,1.000000,200.000000,0.000000,1.521381e+12,0.783220
25%,1.539697e+12,336.000000,200.000000,27.000000,1.533522e+12,199.888530
50%,1.540932e+12,1013.000000,200.000000,70.000000,1.536664e+12,234.500770
75%,1.542266e+12,1675.000000,200.000000,156.250000,1.537672e+12,277.158730
max,1.543799e+12,2474.000000,404.000000,1321.000000,1.543247e+12,3024.665670

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286500 entries, 0 to 286499
Data columns (total 18 columns):
ts               286500 non-null int64
userId           286500 non-null object
sessionId        286500 non-null int64
page             286500 non-null object
auth             286500 non-null object
method           286500 non-null object
status           286500 non-null int64
level            286500 non-null object
itemInSession    286500 non-null int64
location         278154 non-null object
userAgent        278154 non-null object
lastName         278154 non-null object
firstName        278154 non-null object
registration     278154 non-null float64
gender           278154 non-null object
artist           228108 non-null object
song             228108 non-null object
length           228108 non-null float64
dtypes: float64(2), int64(4), object(12)
memory usage: 39.3+ MB

None

,ts,userId,sessionId,page,auth,method,status,level,itemInSession,location,userAgent,lastName,firstName,registration,gender,artist,song,length
56085,1539789508000,29,901,NextSong,Logged In,PUT,200,paid,7,"Los Angeles-Long Beach-Anaheim, CA","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",Thompson,Kaleb,1.536988e+12,M,Dishwalla,Angels or Devils,275.46077

## save json

In [50]:
# compress xz
# spark 无法读取 xz,bz2
file_output = file_name + '.json.xz'
df.to_json(file_output, compression='xz')

In [58]:
# compress bz2
file_output = file_name + '.json.bz2'
df.to_json(file_output, compression='bz2')

In [7]:
# compress gzip
file_output = file_name + '.json.gzip'
df.to_json(file_output, compression='gzip')

In [9]:
# compare size
! ls -al | grep *.json
! ls -al | grep *.csv
! ls -al | grep *.xz
! ls -al | grep *.bz2
! ls -al | grep *.gzip

-rw-r--r--@  1 francis  staff  128477301 10 11 15:24 mini_sparkify_event_data.json
-rw-r--r--   1 francis  staff   15845671 10 14 13:52 mini_sparkify_event_data.json.bz2
-rw-r--r--   1 francis  staff   19957959 10 14 23:16 mini_sparkify_event_data.json.gzip
-rw-r--r--   1 francis  staff   10037936 10 14 13:50 mini_sparkify_event_data.json.xz
-rw-r--r--   1 francis  staff   15845671 10 14 13:52 mini_sparkify_event_data.json.bz2
-rw-r--r--   1 francis  staff   19957959 10 14 23:16 mini_sparkify_event_data.json.gzip

In [11]:
# check compressed file
dfcheck = pd.read_json(file_output, compression='gzip')
display(dfcheck.shape)
display(dfcheck.describe())
display(dfcheck.info()) 
display(dfcheck.sample(1))

(286500, 18)

,ts,sessionId,status,itemInSession,registration,length
count,2.865000e+05,286500.000000,286500.000000,286500.000000,2.781540e+05,228108.000000
mean,1.540957e+12,1041.526555,210.054597,114.414213,1.535359e+12,249.117182
std,1.507544e+09,726.776263,31.505078,129.767262,3.291322e+09,99.235179
min,1.538352e+12,1.000000,200.000000,0.000000,1.521381e+12,0.783220
25%,1.539697e+12,336.000000,200.000000,27.000000,1.533522e+12,199.888530
50%,1.540932e+12,1013.000000,200.000000,70.000000,1.536664e+12,234.500770
75%,1.542266e+12,1675.000000,200.000000,156.250000,1.537672e+12,277.158730
max,1.543799e+12,2474.000000,404.000000,1321.000000,1.543247e+12,3024.665670

<class 'pandas.core.frame.DataFrame'>
Int64Index: 286500 entries, 0 to 286499
Data columns (total 18 columns):
ts               286500 non-null int64
userId           286500 non-null object
sessionId        286500 non-null int64
page             286500 non-null object
auth             286500 non-null object
method           286500 non-null object
status           286500 non-null int64
level            286500 non-null object
itemInSession    286500 non-null int64
location         278154 non-null object
userAgent        278154 non-null object
lastName         278154 non-null object
firstName        278154 non-null object
registration     278154 non-null float64
gender           278154 non-null object
artist           228108 non-null object
song             228108 non-null object
length           228108 non-null float64
dtypes: float64(2), int64(4), object(12)
memory usage: 41.5+ MB

None

,ts,userId,sessionId,page,auth,method,status,level,itemInSession,location,userAgent,lastName,firstName,registration,gender,artist,song,length
251322,1538700685000,300007,44,Home,Logged In,GET,200,paid,118,"Phoenix-Mesa-Scottsdale, AZ","""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",Franklin,Lucas,1.537707e+12,M,None,None,NaN

In [52]:
# check compressed file
dfcheck = pd.read_json(file_output, compression='xz')
display(dfcheck.shape)
display(dfcheck.describe())
display(dfcheck.info()) 
display(dfcheck.sample(1))

(286500, 18)

,ts,sessionId,status,itemInSession,registration,length
count,2.865000e+05,286500.000000,286500.000000,286500.000000,2.781540e+05,228108.000000
mean,1.540957e+12,1041.526555,210.054597,114.414213,1.535359e+12,249.117182
std,1.507544e+09,726.776263,31.505078,129.767262,3.291322e+09,99.235179
min,1.538352e+12,1.000000,200.000000,0.000000,1.521381e+12,0.783220
25%,1.539697e+12,336.000000,200.000000,27.000000,1.533522e+12,199.888530
50%,1.540932e+12,1013.000000,200.000000,70.000000,1.536664e+12,234.500770
75%,1.542266e+12,1675.000000,200.000000,156.250000,1.537672e+12,277.158730
max,1.543799e+12,2474.000000,404.000000,1321.000000,1.543247e+12,3024.665670

<class 'pandas.core.frame.DataFrame'>
Int64Index: 286500 entries, 0 to 286499
Data columns (total 18 columns):
ts               286500 non-null int64
userId           286500 non-null object
sessionId        286500 non-null int64
page             286500 non-null object
auth             286500 non-null object
method           286500 non-null object
status           286500 non-null int64
level            286500 non-null object
itemInSession    286500 non-null int64
location         278154 non-null object
userAgent        278154 non-null object
lastName         278154 non-null object
firstName        278154 non-null object
registration     278154 non-null float64
gender           278154 non-null object
artist           228108 non-null object
song             228108 non-null object
length           228108 non-null float64
dtypes: float64(2), int64(4), object(12)
memory usage: 41.5+ MB

None

,ts,userId,sessionId,page,auth,method,status,level,itemInSession,location,userAgent,lastName,firstName,registration,gender,artist,song,length
113829,1541123102000,131,1325,NextSong,Logged In,PUT,200,paid,128,"Kingsport-Bristol-Bristol, TN-VA","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",Baker,Kael,1.533102e+12,M,Guns N' Roses,Paradise City,406.17751